{% for staff in stafflisting.staffListing %}
<li class="list-group-item">
    <div class="panel staff-member">
        <div class="staff-image" id="staff-image-{{ loop.index }}">
            {% if staff.image %}
            <img src="{{ staff.image.path }}" alt="staff image">
            {% else %}
            <p>Sorry no image provided</p>
            {% endif %}
        </div>
        <div class="staff-name">{{ staff.name }}</div>
        <h4 class="staff-title"><strong>{{ staff.title }}</strong></h4>
        <div class="staff-description">{{ staff.description }}</div>
    </div>
</li>
{% endfor %}
