{% for manager in managerslisting.managers %}
<li class="list-group-item">
    <h2 class="manager-name">{{ manager.name }}</h2>

    <div class="manager-image left" id="manager-image-{{ loop.index }}">
        {% if manager.image %}
        <img src="{{ manager.image.path }}" alt="manager image"/>
        {% else %}
        <p>Sorry no image provided</p>
        {% endif %}
    </div>
    <br>
    <h4 class="manager-title"><strong>{{ manager.title }}</strong></h4>
    <div class="manager-description">{{ manager.description }}</div>
</li>
{% endfor %}
